@import "@/styles/variables.scss";

.nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 7px;
    @media(max-width: $mp3){
        display: none;
    }
    &__list{
        list-style-type: none;
        &_li{
            display: inline-block;
            padding-left: 30px;
        }
        &_link{
            text-decoration: none;
            color: $black;
            transition: 0.3s;

            &:hover{
                color: $greenHover;
            }
        }
    }
}