@import "@/styles/variables.scss";

.request{
    padding: 132px 0 85px 0;

    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }

    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }

    &__wrapper{
        padding-top: 60px;
    }
    &__title{
        font-family: 'Inter', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: $black;

        @media(max-width: $mp4){
            font-size: 32px;
        }
    }
    &__request{
        padding-top: 28px;
    }
}