@import "@/styles/variables.scss";

.departmentPage{

    padding: 132px 0 85px 0;

    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }

    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }  
}