@import "@/styles/variables.scss";

.departmentPage {

    padding: 132px 0 85px 0;

    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }

    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }

    &__wrapper {
        padding-top: 23px;
    }

    &__tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 11px;
        padding-top: 48px;
        @media(max-width: $mp4){
            justify-content: center;
        }
    }

    &__doctorsCards {
        display: flex;
        gap: 11px;
        align-items: flex-start;
        flex-wrap: wrap;

        @media(max-width: $mp1) {
            justify-content: space-around;
        }
    }
    &__doctorsError{
        text-align: center;
        color: $black;
        font-size: 40px;
        font-weight: 700;
    }

    &__workSchedule{
        width: 100%;
        overflow-x: auto;
    }
}

.departmentTab {
    padding: 0 34px;
    height: 42px;
    border-radius: 42px;
    border: 1px solid $mainGreen;
    color: $mainGreen;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
}

.departmentTabActive {
    color: $white;
    background-color: $mainGreen;
}

.dBlock {
    display: block;
    padding-top: 41px;
}

.dNone {
    display: none;
}