@import "@/styles/variables.scss";

.logo{

    &__img{
        object-fit: contain;
        object-position: center;
        @media(max-width: $mp5){
            width: 151px;
            height: 60px;
        }
    }
}