.partnershipBlock {

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        &_text {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__partners {
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
            justify-content: center;
            gap: 32px;
            flex-direction: column;
            align-items: center;
        }
    }
}