@import "@/styles/variables.scss";

.homeNav{
    width: 396px;
    @media(max-width: $mp3){
        order: 2;
        width: 100%;
    }
    &__link{
        display: flex;
        gap: 44px;
        align-items: center;
        width: 396px;
        height: 87px;
        padding: 0px 31px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.29);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: $white;
        transition: 0.3s;

        @media(max-width: $mp3){
            width: 90%;
            margin: 0 auto;
        }
        @media(max-width: $mp4){
            width: 100%;
        }

        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.13);;
            border-radius: 12px;
            color: $white;
        }

        &_img{
            object-fit: contain;
            object-position: center;
        }
        &_text{
            font-size: 18px;
            font-weight: 700;
        }
    }
}