//variables
@import '../../styles/variables.scss';

.paid {
    padding: 132px 0 85px 0;

    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }

    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }

    &__wrapper {
        padding-top: 33px;
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
    }

    &__subTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        &_table {
            width: 100%;

            &_title {
                background-color: $rateGreen;
                color: $white;
                border-radius: 10px 10px 0 0;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;

                @media(max-width: $mp4) {
                    font-size: 18px;
                }
            }

            &_info {

                table {
                    width: 100%;
                    border-collapse: collapse;
                    background-color: #EFFFF7;
                    ;
                }

                th,
                td {
                    border: 2px solid $rateGreen;
                    border-bottom: none;
                    border-right: none;
                }

                td {
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 21px;
                    padding: 5px;
                }
            }
        }
    }
}