@import "@/styles/variables.scss";

.departmentPage{

    &__titleWrapper {
        border-radius: 12px;
        display: flex;
        gap: 22px;
        align-items: flex-start;
        text-decoration: none;
        color: $darkDepartmentText;

        @media(max-width: $mp3){
            flex-direction: column;
        }
    }

    &__imgWrapper{
        width: 136px;
        height: 136px;
        border-radius: 12px;
        background-color: $departamentBG;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        object-fit: contain;
        object-position: center;
    }

    &__data{
        font-size: 20px;
        font-family: 600;
        @media(max-width: $mp5){
            font-size: 16px;
        }
        &_title{
            font-size: 42px;
            font-weight: 700;
            color: $black;
            @media(max-width: $mp4){
                font-size: 28px;
            }
            @media(max-width: $mp5){
                font-size: 24px;
            }
        }

        &_link {
            color: $black;
            text-decoration: none;
            transition: 0.3s;
            
            &:hover {
                color: $mainGreen;
            }
        }
        &_contacts {
            display: flex;
            align-items: center;
            gap: 9px;
        }
    }
}