//variables
@import '../../../styles/variables.scss';

.collective {

    &__body {

        &_info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &_title {
                color: $greenText;
                font-weight: 700;
                font-size: 64px;
                line-height: 74px;
            }

            &_text {
                color: $darkText;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
            }

            &_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                height: 46px;
                background-color: $mainPink;
                border: 0;
                border-radius: 10px;
                padding-bottom: 5px;
                transition: 0.3s;

                &:hover {
                    background-color: $pinkHover;
                }

                &_text {
                    color: $white;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 14px;
                    margin: 0px;
                }
            }
        }
    }
}