//variables
@import "@/styles/variables.scss";

.home{
    padding: 132px 0 85px 0;
    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }
    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }

    &__navInfo{
        background-color: $mainGreen;
        padding: 43px 0 59px 0;

        &_inner{
            display: flex;
            gap: 20px;
            align-items: flex-start;
            @media(max-width: $mp1){
                flex-direction: column;
            }
        }
    }

    &__collective {
        padding: 96px 0 55px 0;
    }

    &__partnership {
        
    }
}