//variables
@import "@/styles/variables.scss";

.home{
    padding: 132px 0 85px 0;
    @media(max-width: $mp3) {
        padding: 121px 0 85px 0;
    }
    @media(max-width: $mp5) {
        padding: 103px 0 85px 0;
    }

    &__navInfo{
        background-color: $mainGreen;
        padding: 43px 0 59px 0;

        &_inner{
            display: flex;
            gap: 20px;
            align-items: flex-start;
            @media(max-width: $mp3){
                flex-direction: column;
            }
        }
    }

    &__news {
        padding: 96px 0 55px 0;
    }

    &__collective {
        padding: 96px 0 55px 0;
        position: relative;

        &_bg{
            width: 100%;
            height: 473px;
            background-color: $collectiveBG;
            position: absolute;
            left: 0;
            bottom: 70px;
            z-index: -1;
            @media (max-width: $mp4){
                height: 700px;
            }
            @media (max-width: $mp5){
                height: 570px;
            }
        }
    }
}