// scss variables

$mainGreen: #4CAF8A;
$greenHover: #00a86b;
$rateGreen: #32C190;
$rateHover: #23E09F;
$green: #44FF9D;
$greenText: #4BDCAA;
$greenTitle: #35C493;
$darkGreen: #1DA074;
$departamentBG: #DDFFF3;
$collectiveBG: #EFFFF7;
$mainPink: #E50050;
$pinkHover: #ac003c;
$white: #fff;
$formBG: #EDEDED;
$whiteHover: #555555;
$black: #000;
$blackHover: #555555;
$darkText: #242424;
$darkDepartmentText: #424242;
$burgerMenuBG: rgba(76, 175, 138, 0.8);

// media breakpoints

$mp1: 1206.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;