// scss variables

$mainGreen: #4CAF8A;
$mainPink: #E50050;
$white: #fff;
$black: #000;
$darkText: #242424;
$colorBG: #EFFFF7;
$pinkHover: #ac003c;
$blackHover: #555555;
$whiteHover: #555555;
$greenHover: #00a86b;
$green: #44FF9D;
$greenText: #4BDCAA;
$burgerMenuBG: rgba(76, 175, 138, 0.8);

// media breakpoints

$mp1: 1199.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;