@import "@/styles/variables.scss";

.otherContacts{
    font-family: 'Inter', sans-serif;

    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: $mainGreen;
    }
    &__body{
        display: flex;
        gap: 15px;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 40px;
        @media(max-width: $mp3){
            flex-wrap: wrap;
        }
        @media(max-width: $mp4){
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__block{
        font-size: 16px;
        color: $black;
        &_title{
            font-weight: 600;
            padding-top: 15px;
        }
        &_subtext{
            font-weight: 400;
            padding: 0;
            margin: 0;
        }
        &_link{
            text-decoration: none;
            font-weight: 400;
            color: $black;
            transition: 0.3s;
            &:hover{
                color: $pinkHover;
            }
        }
    }
}