@import "@/styles/variables.scss";

.copyright{
    padding-top: 24px;
    color: $white;
    &__text{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-top: 29px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
}