@import "@/styles/variables.scss";

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &::before {
        content: "";
        width: 35%;
        height: 8px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $mainPink;
    }

    &::after {
        content: "";
        width: 65%;
        height: 8px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $mainGreen;
    }

    &__wrapper {
        position: fixed;
        width: 100%;
        top: 8px;
        left: 0;
        z-index: 100;
        background-color: $white;
        padding: 23px 0 12px 0;
    }

    &__body {
        display: flex;
    }

    &__logo {
        flex: 1 1 auto;
        padding-right: 15px;
    }

    &__nav {
        margin-left: auto;

        @media(max-width: $mp3) {
            display: flex;
            align-items: center;
        }
    }
}