//variables
@import '../../styles/variables.scss';

.news {

    &__title {
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7px;

        &_text {
            padding-top: 15px;
            margin: 0px;
            width: fit-content;
            height: fit-content;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 28px;
            color: $mainPink;
        }

        &_decor {
            margin: 0px;
        }
    }

    &__posts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 35px;
        border-bottom: 2px solid $mainPink;

        &_info {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
    }

    &__link {
        padding-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_info {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: $white;
            background-color: $mainPink;
            padding: 16px 15px;
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
                background-color: $pinkHover;
                color: $white;
            }
        }
    }
}