@import "@/styles/variables.scss";

.footer {
    padding: 35px 0 33px 0;
    background-color: #35C493;

    &__body{
        display: flex;
        align-items: flex-start;
    }
    &__logo{
        flex: 1 1 auto;
    }
    &__nav{
        display: flex;
        gap: 87px;
        align-items: flex-start;
    }
}